<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BKS.EMZ" value="https://pkgs.dev.azure.com/gu-bks/e03a7aa5-8ad8-47a0-ab12-5219d05d1055/_packaging/BKS.EMZ/nuget/v3/index.json" />
  </packageSources>
</configuration>